<a href="https://colab.research.google.com/github/XuanHoanmmn/DAP_LAB/blob/main/Lab2_ex1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lab_part2 Data preparation

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
#Exercise 1.1
#import medical_care data
titanic = '/content/drive/MyDrive/DAP/titanic.csv'
df = pd.read_csv(titanic)
print(f"shape:{df.shape}")
print('\n')
df.info()
print('\n')
df.head()

shape:(1309, 15)


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 15 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   passenger_id  1309 non-null   int64
 1   pclass        1309 non-null   int64
 2   survived      1309 non-null   int64
 3   name          1309 non-null   object
 4   sex           1309 non-null   int64
 5   age           1046 non-null   float64
 6   sibsp         1309 non-null   int64
 7   parch         1309 non-null   int64
 8   ticket        1309 non-null   object
 9   fare          1308 non-null   float64
 10  cabin         295 non-null    object
 11  embarked      1307 non-null   object
 12  boat          486 non-null    object
 13  body          121 non-null    float64
 14  home.dest     745 non-null    object
dtypes: float64(3), int64(6), object(6)
memory usage: 153.5+ KB

,passenger_id,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,1,"Allen, Miss. Elisabeth Walton",1,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,2,1,1,"Allison, Master. Hudson Trevor",0,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,3,1,0,"Allison, Miss. Helen Loraine",1,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,4,1,0,"Allison, Mr. Hudson Joshua Creighton",0,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,5,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",1,25.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"

In [ ]:
df.head()

,passenger_id,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,1,"Allen, Miss. Elisabeth Walton",1,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,2,1,1,"Allison, Master. Hudson Trevor",0,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,3,1,0,"Allison, Miss. Helen Loraine",1,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,4,1,0,"Allison, Mr. Hudson Joshua Creighton",0,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,5,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",1,25.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"

In [ ]:
#Exercise 1.2
# tạo dict để map
embarked_map = {
    'C': 'Cherbourg',
    'Q': 'Queenstown',
    'S': 'Southampton'
}
sex_map = {
    0: 'Male',
    1: 'Female'
}
survived_map = {
    0: 'No',
    1: 'Yes'
}
pclass_map = {
    1: '1st',
    2: '2nd',
    3: '3rd'
}
# mapping
df["embarked"] = df["embarked"].map(embarked_map)
df["sex"] = df["sex"].map(sex_map)
df["survived"] = df["survived"].map(survived_map)
df["pclass"] = df["pclass"].map(pclass_map)
#chuyển sang category
df["embarked"] = df["embarked"].astype("category")
df["sex"] = df["sex"].astype("category")
df["survived"] = df["survived"].astype("category")
#pclass -> cần order lại thứ tự
pclass_order = ['1st', '2nd', '3rd']
df["pclass"] = pd.Categorical(
    df["pclass"],
    categories=pclass_order,
    ordered=True
)
print('\n')
print(df.dtypes)
print('\n')
df.head()
#check pclass order
print(f"\nMin pclass: {df['pclass'].min()}")
print(f"Max pclass: {df['pclass'].max()}")

passenger_id       int64
pclass          category
survived        category
name              object
sex             category
age              float64
sibsp              int64
parch              int64
ticket            object
fare             float64
cabin             object
embarked        category
boat              object
body             float64
home.dest         object
dtype: object



Min pclass: 1st
Max pclass: 3rd